<div>
    <h2 id="question"><br><%=@question %></h2>
    <p>
    -You
    </p>
</div>

<div>
    <h2 id="answer"><%= @answer%></h2>
    
    <p>
    -You
    </p>
</div>
<%= link_to "Ask Another Question", ask_path %>

